<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Command Melding</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div id="app">
        <!--- <h1>Commands - {{filteredCommands.length}} out of {{numberOfCommands}}</h1> --->
        <h1>Command Melding Planner</h1>
        <div class="character-filter">
            <label 
                v-for="(value, character) in characters"
                :key="character"
                class="character-checkboxes"
                :class="{
                    active: characters[character],
                    [character]: true,
                }"
            >
                <input 
                    type="checkbox"
                    v-model="characters[character]"
                />
                <span>{{character}}</span>
            </label>
            <button
                class="character-checkboxes"
                @click="resetCharacterFilter()"
            >X</button>
        </div>
        <table id="command-list">
            <thead>
                <tr>
                    <th
                        v-for="(label, propertyName, index) in columns"
                        :key="propertyName"
                        :class="{
                            optional: index > 1
                        }"
                    >{{label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    v-for="row in filteredCommands"
                    :key="row.name + '-' + row.ingredients.join(',')"
                    :class="row.availability"
                >
                    <td
                        v-for="(label, propertyName, index) in columns"
                        :key="propertyName"
                        :class="{
                            optional: index > 1,
                            [propertyName]: true
                        }"
                    >
                        <command-slot
                            v-if="propertyName === 'name'"
                            :name="row.name"
                            :category="row.category"
                            :type="row.type"
                            :percent="row.percent"
                        ></command-slot>
                        <span
                            v-else-if="propertyName === 'ingredients'"
                        >{{row.ingredients[0]}}, {{row.ingredients[1]}}</span>
                        <span 
                            v-else
                            class="ability-slot"
                            :class="row[propertyName + '_type']"
                        >{{row[propertyName]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="data.js"></script>
    <script src="index.js"></script>
    <script src="component-command-type-icon.js"></script>
    <script src="component-command-slot.js"></script>
    <script>var mountedApp = app.mount('#app');</script>
</body>
</html>