<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Command Melding</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div id="app">
        <!--- <h1>Commands - {{filteredCommands.length}} out of {{numberOfCommands}}</h1> --->
        <h1>Command Melding Planner</h1>
        <div>
            <!-- <div class="crafting-container">
                <div class="crafting-recipe">
                    <h3>Recipe: </h3>
                    <command-slot
                        name="Quick Blitz"
                        category="battle"
                        type="Magic"
                    ></command-slot>
                    <command-slot
                        name="Quick Blitz 2"
                        category="battle"
                        type="Attack"
                    ></command-slot>
                    <ability-slot
                        :ability="{
                            type: 'Blank',
                            name: 'Wellspring',
                            number: 1,
                            description: 'Displays the HP of the targeted enemy. ',
                        }"
                    ></ability-slot>
                </div>
                <div class="crafting-result">
                    <h3>Result: </h3>
                    <command-slot
                        name="Blitz"
                        category="battle"
                        type="Attack"
                    ></command-slot>
                    <ability-slot
                        :ability="{
                            type: 'Support',
                            name: 'Scan',
                            number: 1,
                            description: 'Displays the HP of the targeted enemy. ',
                        }"
                    ></ability-slot>
                </div>
            </div> -->
            <div class="ability-list">
                <div class="ability-list-scrolling-container">
                    <div class="ability-list-container">
                        <div
                            v-for="(item, index) in mutableAbilities"
                            :key="item.name"
                        >
                            <ability-slot
                                :ability="item"
                                :display-slots="true"
                                @update:ability="updateAbility($event, index)"
                            ></ability-slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Command List</h2>
        <div class="character-filter">
            <label 
                v-for="(value, character) in characters"
                :key="character"
                class="character-checkboxes"
                :class="{
                    active: characters[character],
                    [character]: true,
                }"
            >
                <input 
                    type="checkbox"
                    v-model="characters[character]"
                />
                <span>{{character}}</span>
            </label>
            <button
                class="character-checkboxes"
                @click="resetCharacterFilter()"
            >X</button>
        </div>
        <div class="crystal-filter">
            <label 
                v-for="(label, propertyName) in crystals"
                :key="propertyName"
                class="crystal-radio-buttons"
                :class="{
                    active: propertyName === activeCrystal,
                    [propertyName]: true,
                }"
            >
                <input 
                    type="radio"
                    name="crystal-filter"
                    :value="propertyName"
                    v-model="activeCrystal"
                />
                <span>{{label}}</span>
            </label>
        </div>
        <div class="command-table-frame">
            <table id="command-list">
                <thead>
                    <tr>
                        <th
                            v-for="(label, propertyName, index) in columns"
                            :key="propertyName"
                            :class="{
                                crystal: index > 1,
                                [propertyName]: true
                            }"
                        >{{label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        v-for="row in filteredCommands"
                        :key="row.name + '-' + row.ingredients.join(',')"
                        :class="row.availability"
                    >
                        <td
                            v-for="(label, propertyName, index) in columns"
                            :key="propertyName"
                            :class="{
                                crystal: index > 1,
                                [propertyName]: true
                            }"
                        >
                            <command-slot
                                v-if="propertyName === 'name'"
                                :name="row.name"
                                :category="row.category"
                                :type="row.type"
                                :percent="row.percent"
                            ></command-slot>
                            <span
                                v-else-if="propertyName === 'ingredients'"
                            >{{row.ingredients[0]}}, {{row.ingredients[1]}}</span>
                            <ability-slot 
                                v-else-if="row[propertyName]"
                                :ability="(
                                    mutableAbilityMap[row[propertyName]]
                                    || abilityMap[row[propertyName]]
                                )"
                                :class="{
                                    highlighted: (mutableAbilityMap[row[propertyName]] || {}).slotTargeted,
                                }"
                            ></ability-slot>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="data.js"></script>
    <script src="index.js"></script>
    <script src="component-command-type-icon.js"></script>
    <script src="component-command-slot.js"></script>
    <script src="component-ability-slot.js"></script>
    <script>var mountedApp = app.mount('#app');</script>
</body>
</html>