body {
    font-family: sans-serif;
}

/* ================================= */
/*    Character Filter Checkboxes    */
/* ================================= */
.character-filter {
    padding-bottom: 32px;
}
.character-checkboxes {
    display: inline-block;
    width: 137px;
    background-color: #DDD;
    padding: 4px 8px;
    margin: 2px; 
    border-radius: 4px;
}
button.character-checkboxes {
    width: auto;
}
.character-checkboxes.active.Terra {
    background-color: #CAA;
}
.character-checkboxes.active.Ventus {
    background-color: #ACA;
}
.character-checkboxes.active.Aqua {
    background-color: #AAC;
}

/* ================================= */
/*           Command Table           */
/* ================================= */
#command-list {
    width: 500px;
    border-collapse: collapse;
    border: 2px solid #888;
}
#command-list th, 
#command-list td {
    padding: 4px;
    border-bottom: 1px solid #CCC;
}
#command-list td.type {
    text-align: center;
}
#command-list td.percent {
    text-align: right;
}
/* Row Color based on Availability */ 
tr.Terra {
    background-color: #FDD;
}
tr.Ventus {
    background-color: #DFD;
}
tr.Aqua {
    background-color: #DDF;
}
tr.Terra.Ventus {
    background-color: #FFD;
}
tr.Ventus.Aqua {
    background-color: #DFF;
}
tr.Terra.Aqua {
    background-color: #FDF;
}
tr.Terra.Ventus.Aqua {
    background-color: #FFF;
}

/* ================================= */
/*           Command Icons           */
/* ================================= */
.command-type-icon {
    display: inline-block;
    width: 16px; 
    height: 16px; 
    background-image: url("command_icons.png");
    background-size: 600%;
    overflow: hidden;
    color: rgba(0,0,0,0);
}



