.character-checkboxes {
    display: inline-block;
    width: 18%;
    background-color: #DDD;
    padding: 4px 8px;
    margin: 2px; 
    border-radius: 4px;
}
button.character-checkboxes {
    width: auto;
}

.character-checkboxes.active.Terra {
    background-color: #CAA;
}
.character-checkboxes.active.Ventus {
    background-color: #ACA;
}
.character-checkboxes.active.Aqua {
    background-color: #AAC;
}

.command-type-icon {
    display: inline-block;
    width: 16px; 
    height: 16px; 
    background-image: url("command_icons.png");
    background-size: 600%;
    overflow: hidden;
    color: rgba(0,0,0,0);
}



