@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap');
@font-face {
    font-family: 'KH2 ALL MENU';
    src: url('KH2ALLMENUItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    color: #FFF;
    background-color: #000;
    background-image: linear-gradient(
        to right,
        #001 0%,
        #007 18%,
        #003 18%,
        #00A 27%,
        #005 27%,
        #008 31%,
        #000 31%,
        #000 41%,
        #006 80%,
        #000 80%
    );
    /* background-image: repeating-linear-gradient( 
        to right, 
        #000 0, 
        #006 100%
    );
    background-size: 20rem 100%; */
    /* animation-name: slide-background; */
    animation-duration: 7.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slide-background {
    0% {
      background-position-x: 0rem;
    }
    100% {
      background-position-x: 20rem;
    }
  }

/* ================================= */
/*              Labels               */
/* ================================= */
h1, h2 {
    background: linear-gradient(90deg, #08195c 0%, #00E 100%);
    height: 1.9em;
    width: 900px;
    font-family: 'KH2 ALL MENU';
    font-weight: normal;
    font-style: italic;
    font-size: 2em;
    padding-left: 1em;
    text-shadow: 0.15em 0.15em #000;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0.15em 0.2em #000;
}
h2 {
    font-size: 1.5em;
}

/* ================================= */
/*    Character Filter Checkboxes    */
/* ================================= */
.character-filter {
    padding-bottom: 12px;
}
.character-checkboxes {
    display: inline-block;
    width: 152px;
    background-color: #8888;
    background-blend-mode: screen;
    padding: 4px 8px;
    margin: 2px; 
    border-radius: 4px;
    line-height: 1.5em;
    font-family: 'KH2 ALL MENU';
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    vertical-align: bottom;
}
button.character-checkboxes {
    width: auto;
    color: #FFF;
    border-width: 0;
}
.character-checkboxes.active.Terra {
    background-color: #F448;
}
.character-checkboxes.active.Ventus {
    background-color: #4F48;
}
.character-checkboxes.active.Aqua {
    background-color: #44F8;
}

/* ================================= */
/*      Crystal Filter R. Buttons    */
/* ================================= */

.crystal-filter {
    padding: 8px;
}
.crystal-radio-buttons {
    display: inline-block;
    width: 90px;
    background-color: #444;
    padding: 4px 8px;
    margin: 2px; 
    border-radius: 4px;
    line-height: 1.5em;
    font-size: 1rem;
    text-align: center;
}
.crystal-radio-buttons.active {
    background-color: #888;
}
.crystal-radio-buttons input {
    display: none;
}

/* ================================= */
/*           Command Boxes           */
/* ================================= */
.command-slot {
    position: relative; 
}
.command-slot .overlap {
    position: absolute; 
    top: -0.05em;
    left: -0.25em; 
}
.command-slot .percentage {
    position: absolute; 
    top: 0;
    right: 1em; 
    color: #ED0;
    text-align: right;
}
.command-slot-box {
    display: block;
    background: linear-gradient(135deg, #FFF6 0.375em, transparent 0.5em);
    height: 1.5em;
    width: 100%;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    text-shadow: 0.075em 0.075em #000;
    padding: 0em 1.5em;
    border-top-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    clip-path: polygon(0.45em 0, 100% 0, 100% 1.5em, 0 1.5em, 0 0.45em);
    box-shadow: 
        inset -0.1em -0.1em 0.1em #0006, 
        inset 0.1em 0.1em 0.1em #FFF6;
}
.command-slot-box.battle {
    background-color: #001F91;
}
.command-slot-box.action {
    background-color: #A92116;
}
.command-slot-box.shotlock {
    background-color: #4Fb235;
}

/* ================================= */
/*           Ability Boxes           */
/* ================================= */
.ability-slot {
    position: relative; 
    user-select: none;
} 
.ability-slot-box {
    display: block;
    background: linear-gradient(0deg, #999 0, #000 100%);
    height: 1.5em;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 0.075em 0.075em #000;
    padding-left: 1.5em; 
    border-radius: 0.75em;
}
.ability-slot-box.targeted {
    background: linear-gradient(0deg, #AAA 0, #222 100%);
    /* box-shadow: 0px 0px 0px 2px #D00; */
}
.ability-slot-box::before {
    display: block;
    position: absolute;
    bottom: 0.15em;
    left: 0.41em;
    right: 0.41em;
    height: 0.06em;
    content: '';
    background: linear-gradient(
        90deg,
        #DDD0 0, 
        #DDDF 10%, 
        #DDDF 85%, 
        #DDD0 100%
    );
}
.ability-slot-box.Prize::before {
    background: linear-gradient(
        90deg,
        #DD00 0, 
        #DD0F 10%, 
        #DD0F 85%, 
        #DD00 100%
    );
}
.ability-slot-box.Stats::before {
    background: linear-gradient(
        90deg,
        #2BE0 0, 
        #2BEF 10%, 
        #2BEF 85%, 
        #2BE0 100%
    );
}
.ability-slot-box.Support::before {
    background: linear-gradient(
        90deg,
        #E220 0, 
        #E22F 10%, 
        #E22F 85%, 
        #E220 100%
    );
}
.ability-slot-text {
    position: relative;
}
.ability-slot .overlap {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font-size: 0.8em;
}
.ability-slot-slots {
    position: absolute;
    top: 0.1em;
    right: 0.2em;
    font-size: 0.8em;
}
/* Slot Graphics and Container */
.ability-slot-slots > span {
    display: inline-block;
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    vertical-align: top;
    border-radius: 50%;
    border: 0.12em solid transparent;
    margin-top: 0.1em;
    margin-right: 0.1em;
}
.ability-slot-slots > span.full {
    background-color: #DB0;
    border-color: #FF0;
    border-width: 0.05em;
}
.ability-slot-slots > span.partial {
    background-color: #5AD;
    border-color: #6BE;
    border-width: 0.05em;
}
.ability-slot-slots > span.empty {
    background-color: #000;
    border-color: #888;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
    margin-left: 0.1em;
}


/* ================================= */
/*           Ability Table           */
/* ================================= */
.ability-list {
    display: block;
    background-color: #111;
    width: 250px;
    padding: 8px;
    box-shadow: 
        inset -0.1em -0.1em 0.1em #0006, 
        inset 0.1em 0.1em 0.1em #FFF6;
}

/* ================================= */
/*           Command Icons           */
/* ================================= */
.command-type-icon {
    display: inline-block;
    width: 1.75em; 
    height: 1.75em; 
    background-image: url("command_icons.png");
    background-size: 1100%;
    overflow: hidden;
    color: rgba(0,0,0,0);
}

/* ================================= */
/*           Command Table           */
/* ================================= */
.command-table-frame {
    background-color: #666;
    border-collapse: collapse;
    width: 600px;
    min-height: 100px;
    max-height: calc(100vh - 390px);
    overflow-y: scroll;
    transform: scaleX(-1);
}
#command-list {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: auto;
    border-collapse: collapse;
    /* border: 2px solid #000; */
    transform: scaleX(-1);
}
#command-list thead {
    position: sticky;
    top: 0px;
    z-index: 10;
}
#command-list tbody {
    background-color: #666;
    border-bottom: 8px solid #666;
    border-top: 8px solid #666;
}
#command-list th, 
#command-list td {
    padding: 1px 4px;
    border-bottom: 1px solid #0008;
    background-blend-mode: screen;
}
#command-list th {
    background-color: #777;
    margin: 12px;
}
#command-list th.name,
#command-list td.name {
    width: 35%;
}
#command-list th.crystal,
#command-list td.crystal {
    width: 25%;
}
/* Row Color based on Availability */ 
tr.Terra {
    background-color: #F004;
}
tr.Ventus {
    background-color: #0F04;
}
tr.Aqua {
    background-color: #00F4;
}
tr.Terra.Ventus {
    background-color: #FF04;
}
tr.Ventus.Aqua {
    background-color: #0FF4;
}
tr.Terra.Aqua {
    background-color: #F0F4;
}
tr.Terra.Ventus.Aqua {
    background-color: #FFF4;
}


